@mixin linx ($link,  $hover, $active) {
  a{
    color: $link;
    
    &:hover {
      color: $hover;
      background: url("../images/menu-hover.png") repeat-x 0 100%;
      
    }
    &:active {
      color: $active; 
      background: url("../images/menu-hover.png") repeat-x 0 100%; 
     
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-radius: $radius;
  border-radius: $radius;  
}

@mixin border( $color: $white, $width: 1px) {
  border: {
    style: solid;
    width: $width;
    color: $color;
  }
  
}

@mixin border-shadow {
  -webkit-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
}
@mixin text-shadow {
  -webkit-text-shadow: -3px 3px 3px rgba(0,0,0,0.3);
	-moz-text-shadow:  -3px 3px 3px rgba(0,0,0,0.3);
	text-shadow:  -3px 3px 3px rgba(0,0,0,0.3);
}

@mixin pad ($pads...) {
  padding: $pads;
}
@mixin marg ($margs...) {
  margin: $margs;
}

@mixin  opacity ($val: 0.7) {
  opacity: $val;
}
@mixin background-size($val: 100%){
	-webkit-background-size: $val;
	-o-background-size: $val;
	-moz-background-size: $val;
	background-size: $val;

}