$font-stack:    Helvetica, sans-serif;
$primary-color: #4e525d;

$all-width: 100%;



$width-2: ($all-width/2);
$width-3: ($all-width/3);
$width-4: ($all-width/4);

$a-link: #484c55;
$a-visited: #484c55;
$a-hover: #49cbcd;
$a-active: #49cbcd;

$font-base: 12px;




